.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 h2{
  text-align: center;
  margin-top: 15%;
}

.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4{
  margin-top: 5%;
  text-align: center;
}
body{
  background-color: #d6eb26;
}
.question-answer{
  background: rgba(222,222,222,0.4);
  /* font-size: 32px: */
}


#myProgress {
  width: 100%;
  background-color: #ddd;
}

#inner-content {
  margin-top: 10%;
}

#progress {
  width: 0%;
  height: 10px;
  background-color: #4CAF50;
}
#progressTimer {
  width:100%;
  height:5px;
}
table tr td{
  text-align: center;
}

.table{
  width: fit-content;
  text-align: center;
}
.table-bordered th, .table-bordered td{
  border: 1px solid #aaa;
}
.big-text{
  font-size: 24px;
}
table tr td.enable:hover {
  background: #f5f5f5;
  cursor: pointer;
}
table tr td.clicked:hover {
  cursor: default;
}

a.action-link:not([href]) {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

.square-cell{
  padding: 2rem;
}
.square-table tr td{
  padding: 1rem;
}
.fly-position{
  background: #cfa;
}
#moves{
  width: 300px;
}
.fly-moves{
  width: 75px;
  height: 75px;
  margin-left: 50%;
  margin-top: 50%;
}
#show-moves-space{
  position: absolute;
}
.tagged-cell{
  background-color: #cbe;
}
.diagonal45{
  transform: rotate(45deg);
}
.display-none{
  display: none;
}

.fix-btn{
  width: 10em;
}
.answer-word-btn{
  margin: 3px;
}
.btn{
  margin: 3px;
}

.game-bg{
  background: #98d6ff;
}
.card, .card-body{
  border-radius: 1rem;
}

.words-bg{
  background: #85bfe7;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 15rem;
}

.score-text{
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-radius: .5rem;
}
