.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 h2{
  text-align: center;
  margin-top: 15%;
}

.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4{
  margin-top: 5%;
  text-align: center;
}
body{
  background-color: #eba;
}
.question-answer{
  background: rgba(222,222,222,0.4);
  /* font-size: 32px: */
}
